<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <context-param>
    <param-name>remeras</param-name>
    <param-value>3</param-value>
  </context-param>
  <display-name>TTPS2023_ENTREGABLE1_ADORNO</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>festival.ListenerRemeras</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ImprimeCupon</display-name>
    <servlet-name>ImprimeCupon</servlet-name>
    <servlet-class>festival.ImprimeCupon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImprimeCupon</servlet-name>
    <url-pattern>/ImprimeCupon</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroStockRemeras</display-name>
    <filter-name>FiltroStockRemeras</filter-name>
    <filter-class>festival.FiltroStockRemeras</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroStockRemeras</filter-name>
    <url-pattern>/ImprimeCupon</url-pattern>
  </filter-mapping>
</web-app>